{% extends "diet/layout.html" %}

{% block appbar-left-icon %}
    <md-icon-button href="{% url 'settings' %}">
        <md-icon>settings</md-icon>
    </md-icon-button>
{% endblock %}

{% block title %}<h1>Главная</h1>{% endblock %}

{% block body %}
    {% if verdict and explanation %}
        <div class="result-card {% if verdict == 'Можно' %}success{% elif verdict == 'С осторожностью' %}warning{% else %}danger{% endif %}">
            <div class="header-subheader">
                <h2>{{ verdict }}</h2>
                <p>{{ product }}</p> 
            </div>
            <p>{{ explanation }}</p>
        </div>
    {% endif %}

    <div id="product-check">
        <form action="{% url 'check' %}" method="post" class="form-group">
            {% csrf_token %}
            <!-- TODO: Добавить возможность добавить фото -->
            <input type="text" name="product" placeholder="Введите название продукта" required id="product-input">
            <md-filled-button type="submit" class="main-button">Проверить</md-filled-button>
        </form>
    </div>
{% endblock %}