{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Diet Helper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <script type="importmap">
            {
            "imports": {
                "@material/web/": "https://esm.run/@material/web/"
            }
            }
        </script>
        <script type="module">
            import '@material/web/all.js';
            import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
        </script>


        <link href="{% static 'diet/styles.css' %}" rel="stylesheet"> 
    </head>
    <body>
        <div class="app-bar">
            {% block appbar-left-icon %}
            
            {% endblock %}

            {% block title %}{% endblock %}

            {% if user.is_authenticated %}
                <md-icon-button href="{% url 'profile' %}">
                    <span class="user-initial">{{ user.username|slice:":1" }}</span>
                </md-icon-button>
            {% else %}
                <md-icon-button href="{% url 'profile' %}">
                    <md-icon>account_circle</md-icon>
                </md-icon-button>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>