{% extends "diet/layout.html" %}

{% block appbar-left-icon %}
    <md-icon-button href="{% url 'home' %}">
        <md-icon>arrow_back</md-icon>
    </md-icon-button>
{% endblock %}

{% block title %}<h1>Настройки</h1>{% endblock %}

{% block body %}
    <form action="{% url 'settings' %}" method="post" class="form-group">
        {% csrf_token %}
        <md-outlined-text-field type="textarea" id='diet_description' label="Описание диеты" value="{{ user_diet_info }}" placeholder="Введите описание диеты" name="diet_description">
        </md-outlined-text-field>

        <md-outlined-text-field label="API-ключ Gemini" value="{{ user.apiKey }}" type="password" placeholder="Введите API-ключ Gemini" name="diet_api_key">
        </md-outlined-text-field>

        <md-filled-button type="submit" class="main-button">Сохранить изменения</md-filled-button>
    </form>
{% endblock %}