{% extends "diet/layout.html" %}

{% block body %}
    <h1>Настройки</h1>
    <a href="{% url 'home' %}">Главная</a>

    {% if user.is_authenticated %}
        <form action="{% url 'settings' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="diet_description">Описание диеты</label>
                <textarea class="form-control" id="diet_description" name="diet_description" rows="3" placeholder="Введите описание диеты">{{ user_diet_info }}</textarea>
                <label for="api_key">API ключ</label>
                <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Введите ваш API ключ" value="{{ user.apiKey }}">
            </div>
            <button class="btn btn-primary" type="submit">Сохранить изменения</button>
        </form>
    {% else %}
        <p>Вам нужно войти в систему, чтобы редактировать настройки</p>
    {% endif %}
{% endblock %}